<form action="result" method="POST" role="form" class="form-horizontal">
    <div class="form-group">
        <div class="col-lg-10">
            <input type="text" class="form-control" id="string" pattern="[0-9,|]{1,}" name="string" placeholder="1,2|3,4">
        </div>
        <div class="col-lg-2">
            <button type="submit" class="btn btn-default">
                <i class="fa fa-search">
                    Transpose
                </i>
            </button>
        </div>
    </div>
</form>

<p class="help-block">We can transpose your matrix.</p>
