<table class="table table-sm table-responsive">
    <% @ara.each do |elem| %>
    <tr>
        <% elem.each do |aom| %>
        <td class="text-center">
            <%= aom.to_s %>
        </td>
        <% end %>
    </tr>
    <% end %>
</table>
